body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header img {
    width: 250px;
    height: auto;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

.button {
    margin-top: 70px;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    

}

.box {
    display: inline-block; 
    width: 30%;
    height: 150px;
    border: 1px solid #000;
    text-align: left;
    margin-right: 5px; 
    background-color: aquamarine;
    overflow: auto;
  }
  
  .box:last-child {
    margin-right: 0; 
  }
  .search ul :nth-child(2){
    color: blue;
    text-decoration: underline;
  }
  .search ul :nth-child(3){
    color: blue;
    text-decoration: underline;
  }
  .searchi{
    color: blue;
    text-decoration: underline ;
    text-align: center;
    
  }
  .searchu input{
    height: 5px;
    width: 100px;
    margin-left: 0%;

  }
  .searchu button{
    margin-top: 0%;
  }