
h1{
    color: red;
    text-align: center;
}
nav {
    text-align: center ;
}
h3{
   
    font-style: italic;
    color: red;
}
h2{
    text-decoration: dotted;
    font-style: italic;
    color: darkolivegreen;
}


h4{
    font-style: inherit;
    color: darkolivegreen ;
}
.mesaj{
    background-color:burlywood;
}

a{
    color: gray;
    font-weight: bold;
}

.img{
    margin-left: 0%;

}